#lineup {
  .header {
    padding-top: 250px;
    background-image: url('/static/beach-2-min.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 110vw auto;
  }
}