@import '../../variables';
#home {
  .flier {
    max-height: 700px;
  }

  .news-article {
    height: 400px;
    align-items: center;
  }

  .banner {
    color: $primarycolor;
    background: $blue;
  }

  .outside-picture {
    max-height: 400px;
  }
}