@import '../../variables';
#home {
  .youtube-video-iframe {
    max-width: 100%;
  }

  .header {
    padding-top: 150px;
    background-image: url('/static/home-background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 110vw auto;
  }

  .outside-picture {
    max-width: 100%;
    max-height: 100%;
  }

  .news-article {
    height: 400px;
    align-items: center;
  }

  .banner {
    color: $primarycolor;
    background: $blue;
  }

  .outside-picture {
    max-height: 400px;
  }

  .flier {
    width: 700px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  @media (max-width: 800px) {
    .header {
      padding-top: 200px !important;
    }
  }
}