@import '../../variables';
#home {
  .header {
      min-height: 800px;
      background-image: url('http://via.placeholder.com/1980x1020');
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100vw auto;
  }

  .flier {
    max-height: 700px;
  }

  .banner {
    color: $primarycolor;
    background: $blue;
  }

  .outside-picture {
    max-height: 400px;
  }
}