@use '@material/button';
@use '@material/linear-progress';
@use '@material/textfield';
@use '@material/select';
@use '@material/checkbox';
@use '@material/textfield/icon';
@use '@material/radio';
@use '@material/slider';
@use '@material/tooltip';
@use '@material/dialog';
@use '@material/dialog/mdc-dialog';
@import 'variables';

body {
  --mdc-theme-primary: rgba(87, 98, 213, 1);
  --mdc-theme-secondary: rgba(76, 96, 133, 1);
  --mdc-theme-on-primary: $primarycolor;
  --mdc-typography-font-family: $primaryfont;
  --mdc-background-primary: rgba(0, 0, 0, 0);
}

.mdc-select {
  .mdc-menu-surface {
    margin-top: 1px;
  }
}

.mdc-menu-surface {
  overflow: hidden;
}

:not(.mdc-list-item--disabled).mdc-list-item--selected .mdc-list-item__ripple:before {
  background-color: unset;
}

.mdc-list {
  padding: 0;
}

.mdc-list-item__primary-text {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: .68px;
}

.mdc-list-item--selected .mdc-list-item__primary-text {
  color: rgba(255, 255, 255, 1);
}

.mdc-text-field--filled {
  height: 50px;
}

.mdc-select__anchor {
  border-radius: 4px;
}

.mdc-select--outlined .mdc-select__anchor {
  height: 50px;
}

.mdc-select--filled .mdc-select__anchor {
  height: 50px;
}

.mdc-text-field--outlined:not(.mdc-text-field--textarea) {
  height: 50px;
}

.mdc-select .mdc-floating-label {
  top: 55%;
}

.mdc-button {
  text-transform: unset;
}

.mdc-select--filled .mdc-select__anchor {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mdc-text-field__affix--suffix {
  padding-right: 12px;
  color: $white !important;
}
