@use "@material/theme"with ($primary: #4b4b4b,
    $secondary: #f6a821,
    $on-primary: #ffffff,
    $on-secondary: #ffffff,
);

@use "@aurelia-mdc-web/all";
@import 'md-overrides';

body {
    padding: 0 !important;
    background-color: #4fabab !important;
    color: black !important;
    font-size: 14px !important;
}

.cursor-pointer {
    cursor: pointer;
}

mdc-select {
    .mdc-text-field--outlined {
        padding-left: 3%;
        padding-right: 3%;
        max-height: 27px;
    }

    .mdc-notched-outline__notch {
        // TODO: Ask about !important, I don't like using it but can't seem to find a nice way to do this.
        width: auto !important;
    }

    .mdc-select__anchor {
        mdc-notched-outline mdc-floating-label, .mdc-select__selected-text-container .mdc-select__selected-text {
            font-size: $regular;
        }
    }

    .input-password {
        .mdc-text-field__input, .mdc-text-field__affix {
            font-size: $regular;
        }

        .mdc-text-field__affix {
            padding-left: 0;
        }
    }

    .mdc-floating-label--required:after {
        color: $red;
    }
}