@use "@material/theme"with (
    $primary: #4b4b4b,
    $secondary: #f6a821,
    $on-primary: #ffffff,
    $on-secondary: #ffffff,
);
@use "@aurelia-mdc-web/all";

@import 'md-overrides';
@import 'nav-effects';
@import 'variables';

a {
    color: unset !important;
    text-decoration: none !important;
}

.blue {
    color: deepskyblue !important;
}

button {
    color: white !important;
}

body {
    background-color: rgb(24,26,27) !important;
    font-family: $primaryfont;
    min-height: 1200px;
    color: white !important;
    font-size: $regular !important;
}

.cursor-pointer {
    cursor: pointer;
}

.secondary-font {
    font-family: $secondaryfont;
}

.fs-7 {
    letter-spacing: 1.15px;
    font-size: $huge;
}

.fs-8 {
    letter-spacing: 1.25px;
    font-size: $extrahuge;
}